<button type="submit" class="btn text-white github-green me-3">
	<i class="fa-solid fa-floppy-disk"></i>&nbsp;Crear
</button>
<a asp-page="Index" class="btn text-white github-dark-gray2">
	<i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
</a>