@model CrearBusquedaViewModel

<h1>@ViewData["Title"]</h1>
<p class="text-end">
    @Model.TotalRegistros registros
</p>
<div class="row mb-3">
    <div class="col-6">
        <a class="btn text-white github-green" asp-page="Create">
            <i class="fa-solid fa-plus"></i>&nbsp;@Model.TituloCrear
        </a>
    </div>
    <div class="col-6">
        <form>
            <div class="input-group github-dark2 .form-control">
                <input asp-for="TerminoBusqueda" class="form-control" placeholder="Término de búsqueda"
                       aria-label="Término de búsqueda" />
                <button name="botonBusqueda" id="botonBusqueda" type="submit" class="btn text-white github-blue border-white">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="d-none d-sm-inline">&nbsp;Buscar</span>
                </button>
                <a asp-page="./Index" class="btn text-white github-dark-gray border-white">
                    <i class="fa-solid fa-xmark"></i>
                    <span class="d-none d-sm-inline">&nbsp;Limpiar</span>
                </a>
            </div>
        </form>
    </div>
</div>