@model int

<a asp-page="./Edit" asp-route-id="@Model" class="btn text-white github-green mx-1 my-1 my-md-0">
	<i class="fa-solid fa-pen-to-square"></i>&nbsp;Editar
</a>
<a asp-page="./Details" asp-route-id="@Model" class="btn text-white github-blue mx-1 my-1 my-md-0">
	<i class="fa-solid fa-rectangle-list"></i>&nbsp;Detalles
</a>
<a asp-page="./Delete" asp-route-id="@Model" class="btn text-white github-red mx-1 my-1 my-md-0">
	<i class="fa-solid fa-trash"></i>&nbsp;Eliminar
</a>