html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
/* Paginación */
.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.pagination .page-link {
    color: #007bff;
}

/* Paleta de colores de Github */
.github-dark-gray {
    background-color: #181c24 !important;
    border-color: #9c9d9d !important;
}

.github-dark-gray2 {
    background-color: #212830 !important;
    border-color: #9c9d9d !important;
}

.github-dark1 {
    background-color: #08040c !important;
    border-color: #9c9d9d !important;
}

.github-dark2 {
    background-color: #0d1117 !important;
    border-color: #9c9d9d !important;
}

.github-white1 {
    background-color: #fafbfc !important;
}

.github-white2 {
    background-color: #ffffff !important;
}

.github-green {
    background-color: #2dba4e !important;
}

.github-blue {
    background-color: #0d74e7 !important;
}

.github-red {
    background-color: #b52626 !important;
}

/* Hace el fondo del input transparente y el texto blanco */
.github-dark2 .form-control {
    background-color: transparent !important;
    color: #fafbfc !important;
    border-color: #9c9d9d !important;
}

    /* Cambia el color del placeholder a blanco */
    .github-dark2 .form-control::placeholder {
        color: #fafbfc !important;
        opacity: 1;
    }

/* Fondo del Dropdown */
select option {
    background-color: #000 !important;
    color: #fafbfc !important;
}

.table-rounded {
    border-radius: 16px !important;
    overflow: hidden;
    border-collapse: separate !important;
    border-spacing: 0;
}

/* Indicador de Status de Producto */
.estatus-circulo {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 8px;
    vertical-align: middle;
}

    .estatus-circulo.verde {
        background: #54f204;
    }

    .estatus-circulo.rojo {
        background: #fe3839;
    }

    .estatus-circulo.amarillo {
        background: #fbe83a;
    }

    .estatus-circulo.gris {
        background: #a4abb6;
    }

.col-id {
    width: 10%;
}

.col-nombre {
    width: 10%;
}

.col-acciones {
    width: 10%;
}

/* Desktop: ajustar anchos para mejor visualización */
@media (min-width: 768px) {
    .col-id {
        width: 10%;
    }

    .col-nombre {
        width: 60%;
    }

    .col-acciones {
        width: 30%;
    }
}
