html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.pagination .page-link {
    color: #007bff;
}

/* Paleta de colores de Github */
.github-dark-gray {
    background-color: #181c24 !important;
}

.github-dark1 {
    background-color: #08040c !important;
}

.github-dark2 {
    background-color: #0d1117 !important;
}

.github-white1 {
    background-color: #fafbfc !important;
}

.github-white2 {
    background-color: #ffffff !important;
}

.github-green {
    background-color: #2dba4e !important;
}

.github-blue {
    background-color: #0d74e7 !important;
}

.github-red {
    background-color: #b52626 !important;
}

/* Hace el fondo del input transparente y el texto blanco */
.github-dark2 .form-control {
    background-color: transparent !important;
    color: #fafbfc !important;
    border-color: #fafbfc;
}

/* Cambia el color del placeholder a blanco */
.github-dark2 .form-control::placeholder {
color: #fafbfc !important;
opacity: 1;
}