@page "{id:int?}"
@model RPInventarios.Pages.Productos.IndexModel
@{
    ViewData["Title"] = "Productos";
}

@await Html.PartialAsync("Acciones/_CrearBusqueda", new CrearBusquedaViewModel
{
    TerminoBusqueda = Model.TerminoBusqueda,
    TituloCrear = "Crear Producto",
    TotalRegistros = Model.TotalRegistros
})

<!-- Tabla de marcas -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="github-dark-gray2 text-white text-center">
                @Html.DisplayNameFor(model => model.Productos[0].Nombre)
            </th>
            <th class="github-dark-gray2 text-white text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Productos)
        {
            <tr>
                <td class="github-dark-gray text-white align-content-center text-center" title="@item.Nombre">
                    @{
                        var nombre = item.Nombre;
                        var nombreCorto = nombre.Length > 25 ? nombre.Substring(0, 25) + "..." : nombre;
                    }
                    @nombreCorto
                </td>
                <td class="github-dark-gray text-white text-end">
                    <partial name="Acciones/_Crud" model="item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>